USE [master]
GO
/****** Object:  Database [DelphiTest]    Script Date: 17.01.2024 16:54:52 ******/
CREATE DATABASE [DelphiTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DelphiTest', FILENAME = N'/var/opt/mssql/data/DelphiTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DelphiTest_log', FILENAME = N'/var/opt/mssql/data/DelphiTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DelphiTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DelphiTest]
GO
/****** Object:  Table [dbo].[CreditTransaction]    Script Date: 17.01.2024 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditTransaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerCode] [int] NOT NULL,
	[date] [datetime] NULL,
	[creditValue] [numeric](12, 2) NOT NULL,
 CONSTRAINT [PK_CreditTransaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 17.01.2024 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[code] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[VAT] [nvarchar](11) NOT NULL,
	[creditLimit] [numeric](12, 2) NULL,
	[salesVolume] [numeric](12, 2) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Customer] UNIQUE NONCLUSTERED 
(
	[VAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 17.01.2024 16:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[customerCode] [int] NOT NULL,
	[date] [datetime] NULL,
	[serviceDescription] [nvarchar](200) NULL,
	[saleValue] [numeric](12, 2) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CreditTransaction]  WITH CHECK ADD  CONSTRAINT [FK_CreditTransaction_Customer] FOREIGN KEY([customerCode])
REFERENCES [dbo].[Customer] ([code])
GO
ALTER TABLE [dbo].[CreditTransaction] CHECK CONSTRAINT [FK_CreditTransaction_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customerCode])
REFERENCES [dbo].[Customer] ([code])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
USE [master]
GO
